/* you can add to or change this. */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Comfortaa';
  background-image: url(./assets/brady-corps-ellyLSXQ5wg-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


header {
  text-align: center;
  color: white;
  padding-top: 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}


#game {
  height: 70vh;
  width: 45%;
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  margin: 2rem;
}


.card {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  margin: 5px;
  display: inline-block;
  opacity: 0.1;
  background-color: grey;
}

.buttons {
  padding-bottom: 1rem;
}

#start-btn {

}

#reset-btn {

}
