/* you can add to or change this. */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: 'Comfortaa';
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
  315deg,
  hsl(198deg 60% 33%) 0%,
  hsl(198deg 58% 36%) 5%,
  hsl(198deg 56% 38%) 12%,
  hsl(198deg 54% 41%) 19%,
  hsl(198deg 53% 43%) 28%,
  hsl(198deg 52% 46%) 37%,
  hsl(198deg 50% 48%) 47%,
  hsl(198deg 48% 53%) 58%,
  hsl(196deg 47% 60%) 67%,
  hsl(194deg 46% 67%) 77%,
  hsl(191deg 46% 74%) 85%,
  hsl(188deg 46% 81%) 91%,
  hsl(184deg 51% 89%) 96%,
  hsl(180deg 100% 97%) 100%
);
  min-height: 100vh;
}


header {
  text-align: center;
  color: #F0FFFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

div.score span {
  color: #F0FFFF
}

#guess-count {
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

#timer {
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  font-family: inherit;
  font-size: 2rem;
  border: none;
  background-color: #F0FFFF;
  color: #226987;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 300ms;
}

button:disabled {
  opacity: 0.25;
}

button:hover:enabled {
  background-color: #3F97BD;
  color: #F0FFFF;
  cursor: pointer;
}


#game {
  height: 40rem;
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
}


.card {
  border: 3px solid #226987;
  width: 20%;
  height: 30%;
  margin: 5px;
  border-radius: 5%;
  position: relative;
  display: inline-block;
  opacity: 0.25;
  background-color: grey;
  transition: background-color 200ms;
  -webkit-tap-highlight-color: transparent;
}

.buttons {
  padding-bottom: 1rem;
}

.card-dropdown {
  font-family: inherit;
  font-size: 2rem;
  border: none;
  background-color: #F0FFFF;
  color: #226987;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.swal-overlay {
  background-color: rgba(131, 185, 221, 0.7);
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #F0FFFF;
  height: 12rem;
  width: 40rem;
  padding-top: 1rem;
}

.scoreboard p {
  font-size: 3rem;
}



@media only screen and (max-width: 725px) {
  header {
    font-size: 1.5rem;
  }

  #game {
    width: 35rem;
    height: 30rem;
  }

  button {
    font-size: 1.5rem;
  }

  .card-dropdown {
    font-size: 1.4rem;
  }

  .scoreboard p {
    font-size: 2rem;
  }
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #226987;
}

.social-icon {
  color:#3F97BD;
  margin-left: 0.5rem;
}
