/* you can add to or change this. */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Comfortaa';
  background-image: url(./assets/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}


header {
  text-align: center;
  color: #F0FFFF;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  background-color: #F0FFFF;
  color: #226987;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms;
}

button:disabled {
  opacity: 0.25;
}

button:hover:enabled {
  background-color: #3F97BD;
  color: #F0FFFF
}


#game {
  height: 70vh;
  width: 45%;
  display: grid;
  gap: 10px;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  margin: 2rem;
}


.card {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  margin: 5px;
  display: inline-block;
  opacity: 0.1;
  background-color: grey;
}

.buttons {
  padding-bottom: 1rem;
}

.swal-overlay {
  background-color: rgba(131, 185, 221, 0.7);
}
